

/design/~$ET2 initial planning.docx

*.suo
.vs/
obj/
bin/
*.user

*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*
/design/~$Control System for Everything.pptx
/Code/CFET2Main/CFET2/CFET2Core/Jtext103.CFET2.Core.0.1.0-alpha.nupkg
